<script lang="ts">
    import FoodHeader from "./FoodHeader.svelte";
    import FoodShoppingItems from "./FoodShoppingItems.svelte";
    import NewShoppingItemAdder from "../ShoppingList/NewShoppingItemAdder.svelte";

    export let foodId: number;
    export let isExpanded: boolean;
    export let toggleExpanded: () => void;

    let isEditing: boolean = false;

    const setEditMode = () => {
        isEditing = true;
    };
    const resetEditMode = () => {
        isEditing = false;
    };
</script>

<div>
    <FoodHeader
        {foodId}
        {isExpanded}
        {toggleExpanded}
        {isEditing}
        {setEditMode}
        {resetEditMode}
    />
    {#if isExpanded}
        <div class="shopping-item-container">
            <FoodShoppingItems {foodId} {isEditing} />
            <NewShoppingItemAdder {foodId} />
        </div>
    {/if}
</div>

<style>
    .shopping-item-container {
        border-color: var(--secondary-color);
        border-width: 1px;
        border-bottom-style: solid;
        border-right-style: solid;
        border-left-style: solid;
        padding: 0.5em;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
</style>
