<script lang="ts">
    import { onDestroy } from "svelte";
    import ShoppingItemList from "../ShoppingList/ShoppingItemList.svelte";
    import { shoppingItemsByFoodIdStore } from "../../stores/shoppingItemStore";
    import type { IngredientEntry } from "../../utils/types";
    import EditModeShoppingItemList from "../ShoppingList/EditModeShoppingItemList.svelte";

    export let foodId: number;
    export let isEditing: boolean;

    let shoppingItems: IngredientEntry[] = [];

    const unsubscribe = shoppingItemsByFoodIdStore.subscribe(
        (shoppingItemsByFoodId) => {
            shoppingItems = shoppingItemsByFoodId[foodId] ?? [];
        },
    );
    onDestroy(unsubscribe);
</script>

<div class="body">
    {#if isEditing}
        <EditModeShoppingItemList shoppingItemList={shoppingItems} />
    {:else}
        <ShoppingItemList shoppingItemList={shoppingItems} />
    {/if}
</div>

<style>
    .body {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.25em;
    }
</style>
