<script lang="ts">
    import { foodNames } from "../../stores/foodNameStore";
    import CheckMarkIcon from "../CommonComponents/CheckMarkIcon.svelte";

    export let foodId: number | null;
    export let orignalFoodName: string;
    export let stopEditing: () => void;

    let inputValue = orignalFoodName;

    function handleInputKeypress(event: KeyboardEvent) {
        if (event.key === "Enter") {
            commitName();
        }
    }

    async function commitName() {
        if (inputValue === "") {
            stopEditing();
            return;
        }

        if (foodId === null) {
            foodNames.addFood(inputValue);
        } else {
            foodNames.renameFood(foodId, inputValue);
        }
        stopEditing();
    }

    function onBlur() {
        stopEditing();
    }
</script>

<input
    bind:value={inputValue}
    on:keypress={handleInputKeypress}
    on:blur={onBlur}
/>
<CheckMarkIcon
    onClick={(event) => {
        event.stopPropagation();
        commitName();
    }}
/>

<style>
    input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--white);
        font-size: 1.25em;
        color: var(--white);
        flex: 1;
        margin: 0.5em;
    }
</style>
