<script lang="ts">
    import { onDestroy } from "svelte";
    import { FoodData, foodNames } from "../../stores/foodNameStore";

    import NewFoodPlaceholder from "./NewFoodPlaceholder.svelte";
    import FoodContainer from "./FoodContainer.svelte";

    let foods: FoodData[] = [];
    let expandedFoods = new Set<number>();

    const unsubscribe = foodNames.subscribe((foodNamesState) => {
        foods = foodNamesState.foods;
    });
    onDestroy(unsubscribe);
</script>

<div class="body">
    {#each foods as food}
        <FoodContainer
            foodId={food.id}
            isExpanded={expandedFoods.has(food.id)}
            toggleExpanded={() => {
                if (expandedFoods.has(food.id)) {
                    expandedFoods.delete(food.id);
                } else {
                    expandedFoods.add(food.id);
                }
                expandedFoods = expandedFoods;
            }}
        />
    {/each}
    <NewFoodPlaceholder />
</div>

<style>
    .body {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.25em;
    }
</style>
