<script lang="ts">
    import { onDestroy } from "svelte";
    import { shoppingItemsByFoodIdStore } from "../../stores/shoppingItemStore";

    export let foodId: number;
    export let onClick: (event: MouseEvent) => void;

    let isCompleted = false;

    const unsubscribe = shoppingItemsByFoodIdStore.subscribe(
        (shoppingItemsByFoodId) => {
            const shoppingItems = shoppingItemsByFoodId[foodId] ?? [];
            if (shoppingItems.length === 0) {
                isCompleted = false;
            } else {
                isCompleted = shoppingItems.every((item) => item.done);
            }
        },
    );
    onDestroy(unsubscribe);
</script>

<h1 class:completed={isCompleted} on:click={onClick}><slot /></h1>

<style>
    h1 {
        margin: 0;
        font-size: 1.5em;
        font-weight: normal;
        flex: 1;
        padding: 0.5em;
    }
    h1.completed {
        text-decoration: line-through;
        color: var(--grey);
    }
</style>
