<script lang="ts">
    import { onDestroy } from "svelte";
    import { foodNames } from "../../stores/foodNameStore";
    import ExpandIcon from "../CommonComponents/ExpandIcon.svelte";
    import EditIcon from "../CommonComponents/EditIcon.svelte";
    import FoodNameInput from "./FoodNameInput.svelte";
    import FoodHeaderText from "./FoodHeaderText.svelte";

    export let foodId: number;
    export let isExpanded: boolean;
    export let toggleExpanded: () => void;
    export let isEditing: boolean;
    export let setEditMode: () => void;
    export let resetEditMode: () => void;

    let foodName = "";

    const unsubscribe = foodNames.subscribe((foodNamesState) => {
        const foodData = foodNamesState.foods.find(
            (food) => food.id === foodId,
        );
        foodName = foodData.name;
    });
    onDestroy(unsubscribe);
</script>

<div class="container">
    <ExpandIcon {isExpanded} onClick={toggleExpanded} />
    {#if isEditing}
        <FoodNameInput
            {foodId}
            orignalFoodName={foodName}
            stopEditing={resetEditMode}
        />
    {:else}
        <FoodHeaderText {foodId} onClick={toggleExpanded}
            >{foodName}</FoodHeaderText
        >
        <EditIcon onClick={setEditMode} />
    {/if}
</div>

<style>
    .container {
        color: var(--white);
        font-size: 16px;
        font-weight: bold;
        background: linear-gradient(
            to bottom right,
            var(--primary-color),
            var(--secondary-color)
        );
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 2px;
        min-height: 3.5em;
    }

    .container:hover {
        background: var(--primary-color);
        outline: 2px solid var(--secondary-color);
    }
    .container:active {
        background: var(--primary-color);
        outline: 2px solid var(--white);
    }
</style>
