<script lang="ts">
    import FoodNameInput from "./FoodNameInput.svelte";

    let isEditing = false;
</script>

<div class="container" on:click={() => (isEditing = true)}>
    {#if isEditing}
        <FoodNameInput
            foodId={null}
            orignalFoodName={""}
            stopEditing={() => (isEditing = false)}
        />
    {:else}
        <h1>+</h1>
    {/if}
</div>

<style>
    h1 {
        margin: 0;
        font-size: 1.5em;
        font-weight: normal;
        padding: 0.5em;
    }
    .container {
        color: var(--white);
        font-size: 16px;
        font-weight: bold;
        background: linear-gradient(
            to bottom right,
            var(--primary-color),
            var(--secondary-color)
        );
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 1em;
        justify-content: flex-start;
        border-radius: 2px;
        min-height: 3.5em;
    }

    .container:hover {
        background: var(--primary-color);
        outline: 2px solid var(--secondary-color);
    }
    .container:active {
        background: var(--primary-color);
        outline: 2px solid var(--white);
    }
</style>
