<script lang="ts">
    import { onDestroy } from "svelte";

    import { openedDialog } from "../../../stores/dialogStore";
    import { households } from "../../../stores/householdsStore";
    import HouseholdLogin from "./HouseholdLogin.svelte";

    let availableHouseholds: { id: number; name: string }[];
    let selectedHousehold: number | null;

    function closeDialog() {
        openedDialog.closeDialogs();
    }

    const unsubscribe = households.subscribe((householdState) => {
        availableHouseholds = householdState.available;
        selectedHousehold = householdState.selected;
    });
    onDestroy(unsubscribe);
</script>

<div class="body">
    <div>
        <h1>
            {#if availableHouseholds.length > 0}
                Valitse lista:
            {:else}
                Lisää olemassa oleva lista tai luo uusi:
            {/if}
        </h1>
        <div class="available-household-list">
            {#each availableHouseholds as household}
                <div
                    class="available-household"
                    class:selected={household.id === selectedHousehold}
                    on:click={() => {
                        households.setSelectedHousehold(household.id);
                        closeDialog();
                    }}
                >
                    {household.name}
                </div>
            {/each}
        </div>
    </div>
    <HouseholdLogin />
</div>

<style>
    .body {
        padding: 1em;
        background-color: var(--black);
    }
    .selected {
        background-color: var(--secondary-color);
    }
    h1 {
        color: var(--white);
        display: inline;
        font-size: 16px;
    }
    .available-household-list {
        display: flex;
        margin: 10px 0;
    }
    .available-household {
        color: var(--white);
        margin: 5px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 2px;
        padding: 5px 10px;
        width: fit-content;
        border: 1px solid var(--secondary-color);
    }
    .available-household:first-child {
        margin-left: 0;
    }
</style>
