<script lang="ts">
    import { openedDialog } from "../../../stores/dialogStore";
    import { households } from "../../../stores/householdsStore";
    import { createHousehold } from "../../../utils/ServerUtils";

    let logInExpanded = false;
    let isRegisteringNew = false;

    let householdInput;
    let passwordInput;
    let emailInput;

    let householdInputValue = "";
    let householdPasswordValue = "";
    let emailInputValue = "";

    let householdInputError = null as string | null;
    let householdPasswordError = null as string | null;
    let emailInputError = null as string | null;

    function clearInputs() {
        householdInputValue = "";
        householdPasswordValue = "";
        emailInputValue = "";
        householdPasswordError = null;
        householdInputError = null;
        emailInputError = null;
    }

    function clearErrors() {
        householdPasswordError = null;
        householdInputError = null;
        emailInputError = null;
    }

    async function addHousehold() {
        clearErrors();
        if (householdInputValue === "") {
            householdInputError = "Syötä listan nimi";
        }
        if (householdPasswordValue === "") {
            householdPasswordError = "Syötä salasana";
        }
        if (isRegisteringNew && emailInputValue === "") {
            emailInputError = "Syötä sähköpostiosoite";
        }

        if (
            householdInputError !== null ||
            householdPasswordError !== null ||
            emailInputError !== null
        ) {
            return;
        }

        if (isRegisteringNew) {
            await createHousehold({
                email: emailInputValue,
                name: householdInputValue,
                password: householdPasswordValue,
            });
        }
        try {
            await households.addHousehold(
                householdInputValue,
                householdPasswordValue,
            );
        } catch (error) {
            if (error.message.includes("invalid_household")) {
                householdInputError = `Listaa ${householdInputValue} ei ole olemassa`;
            } else if (error.message.includes("incorrect_password")) {
                householdPasswordError = "Tarkista listan salasana";
            } else if (error.message.includes("already_accessed")) {
                emailInputError = "Syötä sähköposti";
            }
            return;
        }
        await households.refreshHouseholds();
        logInExpanded = false;
        clearInputs();
    }
</script>

<div class="log-in-container">
    {#if logInExpanded}
        <label for="householdName" class:error={householdInputError !== null}
            >{householdInputError === null
                ? "Listan nimi"
                : householdInputError}</label
        >
        <input
            bind:this={householdInput}
            bind:value={householdInputValue}
            name="householdName"
            on:keypress={(event) => {
                if (event.key === "Enter") {
                    passwordInput.focus();
                }
            }}
        />
        <label for="password" class:error={householdPasswordError !== null}
            >{householdPasswordError === null
                ? "Salasana"
                : householdPasswordError}</label
        >
        <input
            bind:this={passwordInput}
            bind:value={householdPasswordValue}
            name="password"
            on:keypress={(event) => {
                if (event.key === "Enter") {
                    if (isRegisteringNew) {
                        emailInput.focus();
                    } else {
                        addHousehold();
                    }
                }
            }}
        />
        {#if isRegisteringNew}
            <label for="email" class:error={emailInputError !== null}
                >{emailInputError === null
                    ? "Sähköposti (käytetään salasanan palauttamiseen)"
                    : emailInputError}</label
            >
            <input
                bind:this={emailInput}
                bind:value={emailInputValue}
                name="email"
                on:keypress={(event) => {
                    if (event.key === "Enter") {
                        addHousehold();
                    }
                }}
            />
        {/if}
    {/if}
    <div class="log-in-buttons">
        {#if logInExpanded}
            <button on:click={addHousehold}>Lisää</button>
            <button
                on:click={() => {
                    logInExpanded = false;
                    clearInputs();
                }}>Peruuta</button
            >
        {:else}
            <button
                on:click={() => {
                    logInExpanded = true;
                    isRegisteringNew = false;
                }}>Lisää olemassa oleva lista</button
            >
            <button
                on:click={() => {
                    logInExpanded = true;
                    isRegisteringNew = true;
                }}>Luo uusi lista</button
            >
        {/if}
        <button class="close-button" on:click={openedDialog.closeDialogs}
            >Sulje</button
        >
    </div>
</div>

<style>
    .log-in-container {
        display: flex;
        flex-direction: column;
        color: var(--white);
    }
    .log-in-buttons {
        display: flex;
        flex-direction: row;
    }
    .close-button {
        margin-left: auto;
        margin-right: 0;
    }
    .error {
        color: tomato;
    }
    label {
        font-family: sans-serif;
        font-weight: bold;
    }
    input {
        background-color: inherit;
        border: none;
        color: var(--white);
        font-size: large;
        font-family: inherit;
        width: 100%;
        box-shadow: none;
        outline: 2px solid var(--secondary-color);
        margin-bottom: 10px;
    }
    input:focus {
        outline: 2px solid var(--secondary-color);
    }
    input:focus-visible {
        outline: 2px solid var(--secondary-color);
    }
    button {
        border: none;
        color: var(--white);
        background-color: var(--primary-color);
        font-size: 16px;
        padding: 0.25em 1em;
        border-radius: 5px;
        width: fit-content;
        margin-right: 10px;
    }
</style>
