<svg
    version="1.1"
    baseProfile="full"
    width="100%"
    height="100%"
    viewBox="0 0 100 100"
    xmlns="http://www.w3.org/2000/svg"
>
    <circle cx="5" cy="5" r="5" />
    <path d="M30,10 L95,10" stroke-linecap="round" stroke-width="10" />
    <circle cx="5" cy="50" r="5" />
    <path d="M30,50 L95,50" stroke-linecap="round" stroke-width="10" />
    <circle cx="5" cy="95" r="5" />
    <path d="M30,90 L95,90" stroke-linecap="round" stroke-width="10" />
</svg>

<style>
    path,
    circle {
        stroke: var(--white);
        fill: var(--white);
    }
</style>
