<script lang="ts">
    export let onClick: (event: MouseEvent) => void;
</script>

<div on:click={onClick}>
    <svg
        version="1.1"
        baseProfile="full"
        width="100%"
        height="100%"
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M10,50 L40,85 L90,15"
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="10"
            fill="transparent"
        />
    </svg>
</div>

<style>
    div {
        height: 20px;
        width: 20px;
        padding: 0.5em;
    }
    path {
        stroke: var(--white);
    }
</style>
