<script lang="ts">
    import LoadingSpinner from "./LoadingSpinner.svelte";

    export let label: string;
    export let isChecked: boolean;
    export let isDisabled: boolean;
    export let toggleChecked: () => void;
</script>

<label draggable="false" class:checked={isChecked} class:disabled={isDisabled}>
    <span class="item-name">
        {label}
    </span>
    {#if isDisabled}
        <LoadingSpinner />
    {/if}
    <input type="checkbox" checked={isChecked} on:change={toggleChecked} />
    <span class="checkbox">
        {#if isChecked}
            <svg
                version="1.1"
                baseProfile="full"
                viewBox="0 0 100 100"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    fill="transparent"
                    stroke-width="10"
                    stroke-linecap="round"
                    d="M5,50 L40,85 L95,5"
                />
            </svg>
        {/if}
    </span>
</label>

<style>
    label {
        color: var(--white);
        width: 100%;
        display: flex;
        cursor: pointer;
        align-items: end;
        font-size: large;
        gap: 5px;
    }
    label.checked {
        text-decoration: line-through;
        color: var(--grey);
    }
    span {
        cursor: pointer;
    }
    path {
        stroke: var(--white);
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }
    .item-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .checkbox {
        background-color: var(--white);
        border-radius: 5px;
        padding: 5px;
        margin: 1px;
        display: flex;
        height: 15px;
        width: 15px;
        flex-shrink: 0;
        margin-left: auto;
    }
    input:checked ~ .checkbox {
        background: linear-gradient(
            to bottom left,
            var(--primary-color),
            var(--secondary-color)
        );
        transition: 0.1s;
    }
    label.disabled {
        color: var(--grey);
    }
</style>
