<svg
    version="1.1"
    baseProfile="full"
    width="100%"
    height="100%"
    viewBox="0 0 100 100"
    xmlns="http://www.w3.org/2000/svg"
>
    <path
        d="M10,10 L90,90 M90,10 L10,90"
        stroke-linecap="round"
        stroke-width="10"
    />
</svg>

<style>
    path {
        stroke: var(--white);
        fill: var(--white);
    }
</style>
