<script lang="ts">
    export let onClick: () => void;
</script>

<div on:click={onClick}>
    <svg
        version="1.1"
        baseProfile="full"
        width="100%"
        height="100%"
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M5,95 l0,-15 l50,-50 l15,15 l-50,50 l-15,0"
            stroke-linecap="round"
            stroke-width="8"
        />
        <path
            d="M65,20 l10,-10 q5,-5 10,0 l5,5 q5,5 0,10 l-10,10 l-15,-15"
            stroke-linecap="square"
            stroke-width="8"
        />
    </svg>
</div>

<style>
    div {
        height: 20px;
        width: 20px;
        padding: 0.5em;
    }
    path {
        stroke: var(--white);
        fill: var(--white);
    }
</style>
