<script lang="ts">
    export let isExpanded: boolean;
    export let onClick: () => void;
</script>

<div class:expanded={isExpanded} on:click={onClick}>
    <svg
        version="1.1"
        baseProfile="full"
        width="100%"
        height="100%"
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            fill="transparent"
            stroke-width="10"
            d="M20,5 L80,50 L20,95"
            stroke-linecap="round"
        />
    </svg>
</div>

<style>
    div {
        height: 12px;
        width: 12px;
        transition: transform 0.1s linear;
        padding: 0.5em;
    }
    path {
        stroke: var(--white);
    }
    .expanded {
        transform: rotate(90deg);
    }
</style>
