<div class="loading-spinner" />

<style>
    .loading-spinner {
        border-color: var(--white);
        border-radius: 50%;
        border-top: var(--primary-color);
        border-right: var(--primary-color);
        border-style: solid;
        animation: spin 1s linear infinite;
        -webkit-animation: spin 1s linear infinite;
        height: 1em;
        width: 1em;
        border-width: 0.1em;
        box-sizing: border-box;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
</style>
