<script lang="ts">
    import type { IngredientEntry } from "../../utils/types";
    import IngredientInput from "./IngredientInput.svelte";
    export let shoppingItemList: IngredientEntry[];
</script>

{#each shoppingItemList as shoppingItem}
    <div class="ingredient-container">
        {#key shoppingItem.id}
            <IngredientInput ingredient={shoppingItem} isNew={false} />
        {/key}
    </div>
{/each}

<style>
    .ingredient-container {
        display: flex;
        position: relative;
        border-bottom: 1px solid var(--grey);
        width: 100%;
        padding-top: 2px;
        height: 30px;
    }
</style>
