<script lang="ts">
    import { DialogType, openedDialog } from "../../stores/dialogStore";

    import { shoppingItems } from "../../stores/shoppingItemStore";
    import type { IngredientEntry } from "../../utils/types";
    import CategoryIcon from "../CommonComponents/CategoryIcon.svelte";
    import DeleteIcon from "../CommonComponents/DeleteIcon.svelte";

    export let ingredient: IngredientEntry;
    export let isNew: boolean;

    let containerElement: HTMLDivElement;
    let ingredientInputValue = ingredient.name;

    function handleInputKeypress(event: KeyboardEvent) {
        if (event.key === "Enter") {
            commitName((event.target as HTMLInputElement).value);
        }
    }

    async function commitName(name: string) {
        if (name === "" && !isNew) {
            removeShoppingItem(ingredient.id);
        } else if (!isNew && name !== ingredient.name) {
            await shoppingItems.changeShoppingItemName(ingredient.id, name);
        } else if (isNew && name !== "") {
            addShoppingItem();
        }
    }

    async function addShoppingItem() {
        await shoppingItems.addShoppingItem({ name: ingredientInputValue });
    }

    async function removeShoppingItem(id: number) {
        await shoppingItems.removeShoppingItem(id);
    }

    function onInputBlur(event: FocusEvent) {
        if (containerElement.contains(event.relatedTarget as HTMLElement)) {
            event.stopPropagation();
            return;
        }
        commitName((event.target as HTMLInputElement).value);
    }
</script>

<div bind:this={containerElement}>
    <input
        bind:value={ingredientInputValue}
        on:keypress={handleInputKeypress}
        on:blur={onInputBlur}
    />
    <button
        class="button"
        on:click={() =>
            openedDialog.openDialog(DialogType.CategorySelectionDialog, {
                selectedIngredientId: ingredient.id,
                selectedCategory: ingredient.category,
                onClose: () => {},
            })}
    >
        <CategoryIcon />
    </button>
    <button
        class="button remove-button"
        on:click={() => removeShoppingItem(ingredient.id)}
    >
        <DeleteIcon />
    </button>
</div>

<style>
    input {
        background-color: inherit;
        border: none;
        color: var(--white);
        font-size: large;
        font-family: inherit;
        width: 100%;
        box-shadow: none;
    }
    input:focus {
        outline: 1px solid var(--secondary-color);
    }
    input:focus-visible {
        outline: 1px solid var(--secondary-color);
    }
    .button {
        border: none;
        color: var(--white);
        padding: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        margin-left: 10px;
        border-radius: 5px;
        flex-shrink: 0;
        margin-bottom: 1px;
        cursor: pointer;
    }
    div {
        display: contents;
    }
</style>
