<script lang="ts">
    import { shoppingItems } from "../../stores/shoppingItemStore";

    export let foodId: number | undefined;

    let isEditing = false;
    let ingredientInputValue = "";

    function handleInputKeypress(event: KeyboardEvent) {
        if (event.key === "Enter") {
            if (ingredientInputValue !== "") {
                addShoppingItem();
            }
            isEditing = true;
            ingredientInputValue = "";
        }
    }

    function addShoppingItem() {
        shoppingItems.addShoppingItem({ name: ingredientInputValue, foodId });
        ingredientInputValue = "";
    }

    function focusInput(input) {
        input.focus();
    }
</script>

<div class="ingredient-container">
    {#if isEditing}
        <input
            use:focusInput
            bind:value={ingredientInputValue}
            on:keypress={handleInputKeypress}
            on:blur={() => {
                if (ingredientInputValue !== "") {
                    addShoppingItem();
                }
                isEditing = false;
                ingredientInputValue = "";
            }}
        />
    {:else}
        <button
            class="add-new"
            on:click={() => {
                isEditing = true;
                ingredientInputValue = "";
            }}>Lisää uusi +</button
        >
    {/if}
</div>

<style>
    .ingredient-container {
        display: flex;
        position: relative;
        width: 100%;
        padding-top: 2px;
        height: 30px;
    }
    .add-new {
        width: 100%;
        justify-content: left;
        padding-left: 0;
        align-self: flex-end;
    }
    input:focus {
        outline: 2px solid var(--secondary-color);
    }
    input:focus-visible {
        outline: 2px solid var(--secondary-color);
    }
    button {
        background-color: inherit;
        border: none;
        width: 20px;
        height: 20px;
        color: var(--white);
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
