<script lang="ts">
    import { onDestroy } from "svelte";

    import {
        categorizedShoppingItems,
        shoppingItems,
    } from "../../stores/shoppingItemStore";
    import type { IngredientEntry } from "../../utils/types";
    import ShoppingItemList from "./ShoppingItemList.svelte";
    import NewShoppingItemAdder from "./NewShoppingItemAdder.svelte";
    import EditModeShoppingItemList from "./EditModeShoppingItemList.svelte";
    import { foodNames } from "../../stores/foodNameStore";
    import { clearDoneShoppingItems } from "../../utils/ServerUtils";

    let ingredientList: [string, IngredientEntry[]][];
    let isEditing: boolean = false;

    const toggleEditing = () => {
        isEditing = !isEditing;
    };

    const unsubscribe = categorizedShoppingItems.subscribe((state) => {
        ingredientList = Object.entries(state).filter(
            ([_, items]) => items.length > 0,
        );
    });
    onDestroy(unsubscribe);
</script>

<div class="ingredient-list">
    {#each ingredientList as [categoryName, shoppingItemList]}
        <h1 class:complete={shoppingItemList.every((item) => item.done)}>
            {categoryName}
        </h1>
        {#if isEditing}
            <EditModeShoppingItemList {shoppingItemList} />
        {:else}
            <ShoppingItemList {shoppingItemList} />
        {/if}
    {/each}
    <NewShoppingItemAdder foodId={undefined} />
    <div class="button-container">
        <button on:click={toggleEditing}
            >{isEditing ? "Valmis" : "Muokkaa"}</button
        >
        {#if !isEditing}
            <button
                on:click={async () => {
                    await clearDoneShoppingItems();
                    shoppingItems.syncShoppingItems();
                    foodNames.updateFoods();
                }}>Tyhjennä valmiit</button
            >
        {/if}
    </div>
</div>

<style>
    h1 {
        align-self: start;
        color: var(--white);
        font-size: 18px;
        border-bottom: 1px solid var(--secondary-color);
        margin-bottom: 0px;
        margin-top: 25px;
    }
    h1.complete {
        color: var(--grey);
        text-decoration: line-through;
    }
    .ingredient-list {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    button {
        border: none;
        border-radius: 5px;
        background-color: var(--primary-color);
        color: var(--white);
        padding: 0.75em;
        margin-top: 2em;
        margin-left: auto;
        display: block;
    }
    .button-container {
        display: flex;
        gap: 1em;
    }
</style>
