<script lang="ts">
    import { shoppingItems } from "../../stores/shoppingItemStore";
    import type { IngredientEntry } from "../../utils/types";
    import Checkbox from "../CommonComponents/Checkbox.svelte";

    export let shoppingItemList: IngredientEntry[];

    function setStatus(id: number, isDone: boolean) {
        shoppingItems.setShoppingItemStatus(id, isDone);
    }
</script>

{#each shoppingItemList as shoppingItem}
    <div class="ingredient-container">
        <Checkbox
            isDisabled={shoppingItem.isSyncing}
            label={shoppingItem.name}
            isChecked={shoppingItem.done}
            toggleChecked={() => setStatus(shoppingItem.id, !shoppingItem.done)}
        />
    </div>
{/each}

<style>
    .ingredient-container {
        display: flex;
        position: relative;
        border-bottom: 1px solid var(--grey);
        width: 100%;
        padding-top: 2px;
        height: 30px;
    }
</style>
