<script lang="ts">
    import ModalDialog from "./Dialogs/ModalDialog.svelte";
    import { DialogType, openedDialog } from "../stores/dialogStore";
    import Foods from "./Foods/Foods.svelte";
    import ShoppingList from "./ShoppingList/ShoppingList.svelte";
    import {
        clearDoneShoppingItems,
        logInWithShareCode,
    } from "../utils/ServerUtils";
    import Errors from "./Errors.svelte";
    import { shoppingItems } from "../stores/shoppingItemStore";
    import { households } from "../stores/householdsStore";
    import { onDestroy } from "svelte";
    import {
        getBooleanAsString,
        getStringAsBoolean,
        TRUE_STRING,
    } from "../utils/constants";
    import LoadingSpinner from "./CommonComponents/LoadingSpinner.svelte";
    import { foodNames } from "../stores/foodNameStore";

    let selectedHousehold = null;
    let householdShareCode = null;
    let isLoadingHouseholds = false;
    let isShoppingListExpanded = getStringAsBoolean(
        window.localStorage.getItem("is_shopping_list_expanded") || TRUE_STRING,
    );
    let isFoodListExpanded = getStringAsBoolean(
        window.localStorage.getItem("is_food_list_expanded") || TRUE_STRING,
    );
    let isLinkCopied = false;

    const queryParams = new URLSearchParams(window.location.search);
    if (queryParams.has("share_code")) {
        logInWithShareCode(queryParams.get("share_code")).then(async () => {
            await households.refreshHouseholds();
            await foodNames.updateFoods();
            await shoppingItems.syncShoppingItems();
            window.history.replaceState(null, "", window.location.pathname);
        });
    }

    function copyShareLink() {
        navigator.clipboard.writeText(
            window.location.origin + "?share_code=" + householdShareCode,
        );
        isLinkCopied = true;
        setTimeout(() => {
            isLinkCopied = false;
        }, 3000);
    }

    function toggleShoppingList() {
        isShoppingListExpanded = !isShoppingListExpanded;
        window.localStorage.setItem(
            "is_shopping_list_expanded",
            getBooleanAsString(isShoppingListExpanded),
        );
    }

    function toggleFoodList() {
        isFoodListExpanded = !isFoodListExpanded;
        window.localStorage.setItem(
            "is_food_list_expanded",
            getBooleanAsString(isFoodListExpanded),
        );
    }

    if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/serviceworker.js");
    }
    households.refreshHouseholds();

    const unsubscribe = households.subscribe((householdState) => {
        const selected = householdState.available.find(
            (household) => household.id === householdState.selected,
        );
        if (selected !== undefined) {
            selectedHousehold = selected.name;
            householdShareCode = selected.share_code;
        }
        isLoadingHouseholds = householdState.isLoading;
    });
    onDestroy(unsubscribe);
</script>

<div class="main-content">
    {#if selectedHousehold !== null}
        <h1>
            <span
                class="selected-household"
                on:click={() => {
                    openedDialog.openDialog(
                        DialogType.HouseholdSelectionDialog,
                        {},
                    );
                }}>{selectedHousehold}</span
            >
            <span
                class="share-button"
                class:copied={isLinkCopied}
                on:click={copyShareLink}
                >{isLinkCopied ? "Linkki kopioitu" : "Jaa lista"}</span
            >
        </h1>
        <h1 on:click={toggleFoodList}>
            Ruokalista <span class="expand-toggle"
                >({isFoodListExpanded ? "piilota" : "näytä"})</span
            >
        </h1>
        {#if isFoodListExpanded}
            <Foods />
        {/if}
        <h1 on:click={toggleShoppingList}>
            Ostoslista <span class="expand-toggle"
                >({isShoppingListExpanded ? "piilota" : "näytä"})</span
            >
        </h1>
        {#if isShoppingListExpanded}
            <ShoppingList />
        {/if}
        <Errors />
    {:else if isLoadingHouseholds}
        <h1>Ladataan ruokalistoja</h1>
        <LoadingSpinner />
    {:else}
        <h1
            on:click={() => {
                openedDialog.openDialog(
                    DialogType.HouseholdSelectionDialog,
                    {},
                );
            }}
        >
            Ei valittua ostoslistaa. Klikkaa tästä lisätäksesi olemassa olevan
            listan tai luodaksesti uuden listan.
        </h1>
    {/if}
</div>

{#if $openedDialog !== undefined}
    <ModalDialog />
{/if}

<style>
    :global(body) {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: #111;
        font-family: "Times New Roman", Times, serif;
        --primary-color: hsl(253, 55%, 40%);
        --secondary-color: hsl(328, 50%, 44%);
        --app-background: linear-gradient(
            to bottom,
            hsl(328, 30%, 8%),
            hsl(253, 40%, 8%)
        );
        --black: #222;
        --grey: #888;
        --white: #dfdfdf;
    }

    .main-content {
        margin: 0 auto;
        max-width: 600px;
        padding: 20px;
        min-height: 100vh;
        box-sizing: border-box;
        background: var(--app-background);
    }

    .selected-household {
        border-bottom: 2px solid var(--secondary-color);
    }

    .share-button {
        font-size: 0.8em;
        font-weight: normal;
        background-color: var(--black);
        display: flex;
        align-items: center;
        padding: 0.25em;
        margin-left: 1em;
        border-radius: 0.2em;
        border: 1px solid var(--primary-color);
    }

    .share-button.copied {
        background-color: var(--primary-color);
    }

    .expand-toggle {
        font-size: 16px;
        font-weight: normal;
        display: contents;
    }

    h1 {
        color: var(--white);
        font-size: 20px;
        font-weight: bold;
        display: flex;
    }
    h1:first-child {
        margin-top: 0;
    }
</style>
