<script lang="ts">
    import { errors } from "../stores/appErrors";

    function removeError(index: number) {
        errors.clearError(index);
    }
</script>

<div class="container">
    <ul class:container--empty={$errors.length === 0}>
        {#each $errors as error, index}
            <li>
                <div>
                    {error.operation}: {error.message}
                </div>
                <button on:click={() => removeError(index)}>x</button>
            </li>
        {/each}
    </ul>
</div>

<style>
    .container {
        color: var(--white);
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        background-color: #681818;
    }
    .container--empty {
        margin: 0;
    }
    ul {
        margin: 10px;
        padding: 0;
    }
    li {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
    button {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        border: none;
        background-color: inherit;
        color: inherit;
        font-size: 15px;
    }
</style>
