<script lang="ts">
    import { DialogType, openedDialog } from "../stores/dialogStore";
    import { Household, households } from "../stores/householdsStore";
    import { onDestroy } from "svelte";
    import LoadingSpinner from "./CommonComponents/LoadingSpinner.svelte";
    import ExpandIcon from "./CommonComponents/ExpandIcon.svelte";

    let selectedHousehold = "Ei valittua listaa";
    let householdShareCode = null;
    let isHouseholdsExpanded = false;
    let isLoadingHouseholds = false;
    let isLinkCopied = false;
    let availableHouseholds = [] as Household[];

    function copyShareLink() {
        navigator.clipboard.writeText(
            window.location.origin + "?share_code=" + householdShareCode,
        );
        isLinkCopied = true;
        setTimeout(() => {
            isLinkCopied = false;
        }, 3000);
    }

    function toggleHouseholds() {
        isHouseholdsExpanded = !isHouseholdsExpanded;
    }

    const unsubscribe = households.subscribe((householdState) => {
        availableHouseholds = householdState.available;

        const selected = householdState.available.find(
            (household) => household.id === householdState.selected,
        );

        if (selected !== undefined) {
            selectedHousehold = selected.name;
            householdShareCode = selected.share_code;
        }

        isLoadingHouseholds = householdState.isLoading;
    });
    onDestroy(unsubscribe);
</script>

<div class="container">
    <h1>
        <span class="selected-household">{selectedHousehold}</span>
        <ExpandIcon isExpanded={isHouseholdsExpanded} />
        <span></span>
    </h1>
</div>

<style>
    .selected-household {
        border-bottom: 2px solid var(--secondary-color);
    }

    .share-button {
        font-size: 0.8em;
        font-weight: normal;
        background-color: var(--black);
        display: flex;
        align-items: center;
        padding: 0.25em;
        margin-left: 1em;
        border-radius: 0.2em;
        border: 1px solid var(--primary-color);
    }

    .share-button.copied {
        background-color: var(--primary-color);
    }

    h1 {
        color: var(--white);
        font-size: 20px;
        font-weight: bold;
        display: flex;
    }
    h1:first-child {
        margin-top: 0;
    }
</style>
