<script lang="ts">
    import { onDestroy } from "svelte";

    import {
        CategorySelectionDialogData,
        openedDialog,
    } from "../../stores/dialogStore";

    import { shoppingItems } from "../../stores/shoppingItemStore";
    import { CATEGORIES, DEFAULT_CATEGORY } from "../../utils/constants";

    let ingredientId: number;
    let selectedCategory: string;
    let onClose: () => void;

    async function setCategory(categoryName: string) {
        onClose();
        openedDialog.closeDialogs();
        if (categoryName !== selectedCategory) {
            await shoppingItems.setShoppingItemCategory(
                ingredientId,
                categoryName,
            );
        }
    }

    const unsubscribe = openedDialog.subscribe((dialogState) => {
        if (dialogState) {
            const dialogData = dialogState.data as CategorySelectionDialogData;
            ingredientId = dialogData.selectedIngredientId;
            selectedCategory = dialogData.selectedCategory;
            onClose = dialogData.onClose;
        }
    });
    onDestroy(unsubscribe);
</script>

<ul>
    {#each CATEGORIES.concat(DEFAULT_CATEGORY) as categoryName}
        <li
            class:selected={selectedCategory === categoryName}
            on:click={() => setCategory(categoryName)}
        >
            {categoryName}
        </li>
    {/each}
</ul>

<style>
    li.selected {
        background-color: var(--primary-color);
    }
    ul {
        max-width: 600px;
        margin: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        flex: 1;
        box-sizing: border-box;
    }
    li {
        list-style-type: none;
        display: flex;
        padding: 5px;
        background-color: var(--secondary-color);
        margin: 5px;
        flex-grow: 1;
        flex-shrink: 0;
        color: var(--white);
        align-items: center;
    }
</style>
