<script lang="ts">
    import { DialogType, openedDialog } from "../../stores/dialogStore";
    import CategorySelectionDialog from "./CategorySelectionDialog.svelte";
    import HouseholdSelectorDialog from "./HouseholdSelectorDialog/HouseholdSelectorDialog.svelte";
</script>

<div class="background" />
<div
    class="container"
    class:fullsize={$openedDialog.type === DialogType.CategorySelectionDialog}
    role="dialog"
>
    {#if $openedDialog.type === DialogType.HouseholdSelectionDialog}
        <HouseholdSelectorDialog />
    {:else if $openedDialog.type === DialogType.CategorySelectionDialog}
        <CategorySelectionDialog />
    {/if}
</div>

<style>
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.4);
    }

    .container {
        position: absolute;
        left: 50%;
        max-height: calc(100vh - 4em);
        overflow: auto;
        border-radius: 0.2em;
        background: white;
        top: 3em;
        transform: translate(-50%, 0);
        width: calc(100vw - 1em);
        max-width: 30em;
    }
    .container.fullsize {
        max-width: 600px;
        width: 100%;
        top: 0;
        border-radius: 0;
        max-height: initial;
        background-color: var(--black);
        position: fixed;
    }
</style>
