<script lang="ts">
    import { existingFoodNames } from "../../../stores/foodNameStore";
    import { getPossibleFoodNames } from "../../../utils/FoodNameUtils";
    import LoadingSpinner from "../../CommonComponents/LoadingSpinner.svelte";

    let suggestedFoods = getPossibleFoodNames();
    export let onSelectFood: (foodName: string) => void;
</script>

{#if $existingFoodNames.length > 0}
    <h1>Tämän viikon ruuat</h1>
    <div class="existing-foods-list">
        {#each $existingFoodNames as food}
            <div class="existing-food" on:click={() => onSelectFood(food.name)}>
                {food.name}
            </div>
        {/each}
    </div>
{/if}
<h1>Ehdotuksia</h1>
{#await suggestedFoods}
    <LoadingSpinner />
{:then foodSuggestions}
    <div class="food-suggestion-list">
        {#each foodSuggestions as suggestion}
            <div
                class="food-suggestion"
                on:click={() => onSelectFood(suggestion)}
            >
                {suggestion}
            </div>
        {/each}
    </div>
{/await}

<style>
    h1 {
        font-size: 15px;
        padding: 0;
        margin: 0;
        margin-top: 0px;
        margin-top: 0.5em;
        color: var(--white);
        font-weight: normal;
    }

    .food-suggestion {
        background-color: var(--primary-color);
        color: var(--white);
        display: flex;
        align-items: center;
        padding: 0.25em 0.5em;
        border-radius: 5px;
        margin: 0 0.4em 0.4em 0;
    }
    .existing-food {
        background-color: var(--secondary-color);
        color: var(--white);
        display: flex;
        align-items: center;
        margin: 0 0.4em 0.4em 0;
        padding: 0.25em 0.5em;
        border-radius: 5px;
    }
    .food-suggestion-list,
    .existing-foods-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1em;
        margin-top: 0.5em;
    }
</style>
