<script lang="ts">
    import { shoppingItems } from "../../../stores/shoppingItemStore";
    import { onDestroy } from "svelte";
    import type { IngredientEntry } from "../../../utils/types";
    import type { FoodData } from "../../../stores/foodNameStore";
    let shoppingListItems: IngredientEntry[];
    let newEntryName = "";
    let inputElement: HTMLInputElement;

    export let food: FoodData | undefined;

    function addIngredient() {
        shoppingItems.addShoppingItem({
            name: newEntryName,
            food: food.name,
            foodId: food.id,
        });
        newEntryName = "";
        inputElement.focus();
    }

    function removeIngredient(id: number) {
        shoppingItems.removeShoppingItem(id);
    }

    function handleInputKeypress(event: KeyboardEvent) {
        if (event.key === "Enter") {
            addIngredient();
        }
    }

    const unsubscribe = shoppingItems.subscribe((shoppingItemsState) => {
        shoppingListItems = shoppingItemsState.filter(
            (item) => food !== undefined && item.foodId === food.id,
        );
    });
    onDestroy(unsubscribe);
</script>

{#each shoppingListItems as shoppingItem}
    <div class="ingredient-container">
        <div class="ingredient-name">{shoppingItem.name}</div>
        <button
            class="ingredient-button"
            on:click={() => removeIngredient(shoppingItem.id)}>X</button
        >
    </div>
{/each}
<div>
    <input
        bind:value={newEntryName}
        bind:this={inputElement}
        on:keypress={handleInputKeypress}
        placeholder="Uusi raaka-aine"
    />
    <button class="add-new" on:click={addIngredient}>Lisää</button>
</div>

<style>
    input {
        border: none;
        background-color: inherit;
        width: 150px;
        border-bottom: 1px solid var(--white);
        color: var(--white);
    }
    .ingredient-container {
        display: flex;
        align-items: center;
    }
    .ingredient-name {
        width: 150px;
        color: var(--white);
        border-bottom: 1px solid var(--secondary-color);
        line-height: 1.5em;
    }
    .ingredient-button {
        border: none;
        background-color: initial;
        padding: 0.25em;
        color: var(--white);
        background-color: var(--grey);
        width: 1.5em;
        height: 1.5em;
        font-size: 12px;
        line-height: 1em;
        border-radius: 50%;
    }
    .add-new {
        border-radius: 5px;
        border: none;
        background-color: var(--secondary-color);
    }
</style>
